<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myPlanner</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

    <!-- Custom Style and Script -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>
  <body>

    <!-- Login and Register  -->
    <div class="container">
      <div class="jumbotron text-center">
        <h1>myPlanner</h1>
        <br>
        <img src="/images/list.png" alt="">
        <a href="/login" class="btn btn-lg btn-success">Login</a>
        <a href="/signup" class="btn btn-lg btn-success">Register</a>

      </div>
    </div>

  </body>
</html>
